body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  color: #3c3c3c;
  font: 12px/1.5 'simsun', tahoma, arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
address,
cite,
dfn,
i,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: courier new, courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
}
a:focus,
input:focus,
button:focus {
  outline: none;
}
button {
  cursor: pointer;
  border: 0;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset {
  border: 0;
}
img {
  border: 0 none;
  vertical-align: top;
}
button,
input,
select,
textarea {
  font-size: 100%;
  outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  display: block;
  margin: 0;
  padding: 0;
}
mark {
  background: #ff0;
}
.fixed:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.fixed {
  display: block;
  min-height: 1%;
}
*html .fixed {
  height: 1%;
}
.clear {
  diplay: block!important;
  float: none!important;
  clear: both;
  overflow: hidden;
  width: auto!important;
  height: 0!important;
  margin: 0 auto!important;
  padding: 0!important;
  font-size: 0;
  line-height: 0;
}
.ma {
  margin: 0 auto;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb40 {
  margin-bottom: 40px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr30 {
  margin-right: 30px;
}
.mr40 {
  margin-right: 40px;
}
.pl5 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.pl20 {
  padding-left: 20px;
}
.pl25 {
  padding-left: 25px;
}
.pl30 {
  padding-left: 30px;
}
.f12 {
  font-size: 12px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.oh {
  overflow: hidden;
}
.hide {
  display: none;
}
.oe {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* 公共字体样式 */
.g-header .m-nav a,
.g-content .m-intro h2 {
  font-family: "Microsoft YaHei";
}
/*公共样式*/
body {
  font-family: "Microsoft YaHei", arial, sans-serif;
  font-size: 100%;
  height: 100%;
  background: #ffffff;
  color: #666;
  background: -webkit-linear-gradient(left, #9bd 10%, #e85 90%);
  background: -moz-linear-gradient(90deg, #9bd 10%, #e85 90%);
  background: -ms-linear-gradient(90deg, #9bd 10%, #e85 90%);
  background: -o-linear-gradient(90deg, #9bd 10%, #e85 90%);
  background: linear-gradient(90deg, #9bd 10%, #e85 90%);
}
.g-header,
.g-content,
.g-footer {
  width: 1190px;
}
.g-header {
  padding: 25px 0;
}
.g-header .m-logo {
  float: left;
  width: 240px;
  height: 52px;
}
.g-header .m-logo a {
  display: block;
}
.g-header .m-nav {
  float: right;
  height: 52px;
}
.g-header .m-nav li {
  float: left;
}
.g-header .m-nav a {
  display: block;
  height: 52px;
  line-height: 52px;
  padding: 0 15px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.g-header .m-nav a:hover {
  background-color: #FF61A0;
  color: #ffffff;
}
.g-content {
  position: relative;
  min-height: 500px;
}
.g-content .m-intro {
  position: relative;
  width: 940px;
  height: 330px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  margin: 160px auto;
  padding: 60px 10px 10px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -ms-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -o-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.g-content .m-intro h1 {
  margin-bottom: 70px;
  font-size: 80px;
  line-height: 1;
  color: #B32DB6;
  letter-spacing: -1px;
  text-align: center;
}
.g-content .m-intro h2 {
  font-size: 35px;
  line-height: 1.3;
  color: #1F8B13;
  letter-spacing: 0;
  text-align: center;
}
.g-content .m-intro a.link {
  width: 134px;
  height: 58px;
  padding: 22px 0 0 68px;
  font-size: 23px;
  line-height: 1.2;
  color: #fff;
  position: absolute;
  bottom: 25px;
  right: 383px;
  background: transparent url(../images/github-button.png) 0 0 no-repeat;
}
.g-content .m-intro a.link small {
  display: block;
  font-size: 11px;
}
.g-footer {
  height: 20px;
  line-height: 20px;
  text-align: center;
}
.g-footer p {
  font-size: 12px;
  color: #555;
}
.g-hd-b {
  width: 100%;
  height: 2px;
  background: #da3a4c;
}
