
//---------------header-----------------------//


//
@g_header:"../../images/www/fn_g_header.png?1442209102725";

//二级三级目录加载图
@nav_item:"../../images/www/nav_item.gif?1442209102726";


//---------------index-----------------------//

//新人引导背景图
@new_guide:"../../images/www/bg-ysd.png?1442209102730";

//---------------footer-----------------------/

//
@fn_gif:"../../images/www/feiniu.gif?1442209102725";

//
@rmd_bg:"../../images/www/rmd_bg.png?1442209102725";

//
@fn_index:"../../images/www/fn_index.png?1442209102726";



//美食城背景
@food_bg:"../../images/food/food_bg.png?1442209102724";
@food_sale_bg:"../../images/food/f_sale_bg.png?1442209102724";




